
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdn.tailwindcss.com"></script>
	
	</head>

	<body>
		<!-- component -->
<div class="flex h-screen">
	<!-- Left Pane -->
	<div class="hidden lg:flex items-center justify-center flex-1 bg-white text-black">
	 <img src="{% static 'burger_05.jpg' %}" alt="" srcset="">
	</div>
	<!-- Right Pane -->
	<div class="w-full bg-[#FDFAF6] lg:w-1/2 flex items-center justify-center">
	  <div class="max-w-md w-full p-6">
		<h1 class="text-3xl font-semibold mb-6 text-[#FFB000] text-center">Login</h1>
		<h1 class="text-sm font-semibold mb-6 text-gray-500 text-center">Unlock Success, Log in to Elevate Your Business Flavor! </h1>
		<div class="mt-4 flex flex-col lg:flex-row items-center justify-between">
		 
		</div>
		
		<form action="#" method="POST" class="space-y-4">
		  <!-- Your form elements go here -->
		  {% csrf_token %}
		  <div>
			<label for="username" class="block text-sm font-medium text-gray-700">Username</label>
			<input type="text" id="username" name="username" class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300">
		  </div>
		
		  <div>
			<label for="password" class="block text-sm font-medium text-gray-700">Password</label>
			<input type="password" id="password" name="password" class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300">
		  </div>
		  <div>
			<button type="submit" class="w-full bg-[#FFB000] text-white p-2 rounded-md hover:bg-gray-800 focus:outline-none focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300">Login</button>
		  </div>
		</form>
		<div class="mt-4 text-sm text-gray-600 text-center">
		  <p>Don't have an account? <a href="#" class="text-black hover:underline">Register here</a>
		  </p>
		</div>
	  </div>
	</div>
  </div>
	</body>
</html>
